body {
  margin: 0;
  padding: 0;
  background-color: #123524;
}

.login-container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
}
.login-container .login-section {
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 40rem;
}
.login-container .login-section .login-header {
  justify-items: center;
  justify-content: center;
  align-items: center;
}
.login-container .login-section .login-header img {
  width: 10rem;
}
.login-container .login-section .login-box {
  text-align: center;
  width: 30rem;
}
.login-container .login-section .login-box #login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.login-container .login-section .login-box #login-form .input-group input {
  width: 30rem;
  height: 2rem;
  gap: 2rem;
  font-size: 1.2rem;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0.5rem;
  border-radius: 10px;
}
.login-container .login-section .login-box #login-form label input {
  width: 15px;
  height: 15px;
}
.login-container .login-section .login-box #login-form .login-btn {
  width: 12rem;
  height: 3rem;
  font-size: 1.2rem;
  background-color: #228b22;
  border: none;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
}
.login-container .login-section .login-box #login-form .login-btn:hover {
  background-color: #ffffff;
  color: black;
}
.login-container .info-section {
  width: 60%;
}
.login-container .info-section .info-section-title {
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 1rem;
}
.login-container .info-section .info-section-title h1 {
  text-align: center;
}
.login-container .info-section .info-section-title .PM-navoiyuran-uz {
  border-bottom: 2px solid #ffffff;
}
.login-container .info-section .info-cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.login-container .info-section .info-cards .info-card-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.login-container .info-section .info-cards .info-card-2 .info-card {
  width: 19rem;
  height: 15rem;
  border: 3px dashed #13492a; /* Siniq chiziq */
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  /* Harakatlanadigan chegara */
}
.login-container .info-section .info-cards .info-card-2 .info-card::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 3px dashed transparent;
  border-image-source: linear-gradient(90deg, transparent 50%, #3cb371 50%);
  border-image-slice: 1;
  animation: borderAnimation 2s linear infinite;
}
.login-container .info-section .info-cards .info-card-2 .info-card img {
  width: 6rem;
  height: 6rem;
}

/* Animatsiya */
@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(90deg, transparent 50%, #3cb371 50%);
  }
  100% {
    border-image-source: linear-gradient(90deg, #3cb371 50%, transparent 50%);
  }
}/*# sourceMappingURL=style.css.map */