// Umumiy uslublar
body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

// Main qism uslublari
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin-left: 5%;

    .form-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;

        h2 {
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .form-group {
                display: flex;
                flex-direction: column;

                label {
                    font-weight: bold;
                    color: #555;
                    margin-bottom: 5px;
                }

                input, select {
                    padding: 10px;
                    font-size: 16px;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    transition: border-color 0.3s;

                    &:focus {
                        border-color: #007bff;
                        outline: none;
                    }
                }
            }

            button {
                padding: 12px;
                background-color: #007bff;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: #0056b3;
                }
            }
        }
    }

    .users-section {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 30px;
    
        h2 {
            text-align: left;
            color: #333;
            margin-bottom: 20px;
            
            
            &#addUserTrigger {
                cursor: pointer;
                color: #007bff;
                font-size: 15px;
                text-decoration: underline;
    
                &:hover {
                    color: #0056b3;
                }
            }
        }

        .search-filter {
            margin-bottom: 20px;
            text-align: right;
    
            input {
                width: 100%;
                max-width: 500px;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #ddd;
                border-radius: 4px;
                transition: border-color 0.3s;
    
                &:focus {
                    border-color: #007bff;
                    outline: none;
                }
            }
        }
    
        table {
            width: 100%;
            border-collapse: collapse;
    
            th, td {
                padding: 10px;
                text-align: left;
            }
    
            th {
                background-color: #3a5c64;
                color: white;
                font-weight: bold;
            }
    
            tr {
                &:nth-child(even) {
                    background-color: #f9f9f9;
                }
    
                &:hover {
                    background-color: #f1f1f1;
                }
            }
    
            td {
                color: #333;
                border-bottom: 1px solid #3a5c64;
    
                .fish-link {
                    color: #007bff;
                    text-decoration: none;
                    cursor: pointer;
    
                    &:hover {
                        text-decoration: underline;
                    }
                }
    
                .delete-btn {
                    color: white;
                    background-color: #dc3545;
                    padding: 5px 10px;
                    border-radius: 4px;
                    text-decoration: none;
                    transition: background-color 0.3s;
    
                    &:hover {
                        background-color: #c82333;
                    }
                }
            }
        }
    }

    // Modal uslublari
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        cursor: pointer;
        overflow: hidden; // Modalning tashqi skrollini olib tashlash

        .modal-content {
            background-color: #fefefe;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); // Markazda joylashishi uchun
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 500px;
            border-radius: 8px;
            max-height: 80vh; // Modalning maksimal balandligi
            overflow-y: hidden; // Ichki skrollni olib tashlash

            .close-btn {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: black;
                    text-decoration: none;
                }
            }

            h2 {
                text-align: center;
                margin-bottom: 20px;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .form-group {
                    display: flex;
                    flex-direction: column;

                    label {
                        font-weight: bold;
                        color: #555;
                        margin-bottom: 5px;
                    }

                    input, select {
                        padding: 10px;
                        font-size: 16px;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        transition: border-color 0.3s;

                        &:focus {
                            border-color: #007bff;
                            outline: none;
                        }
                    }
                }

                button {
                    padding: 12px;
                    background-color: #3a5c64;
                    color: white;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 16px;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }
    }
}

// Responsive dizayn
@media (max-width: 768px) {
    .main {
        .form-container {
            width: 90%;
            padding: 20px;
        }

        .modal {
            .modal-content {
                width: 90%;
                max-height: 70vh;
            }
        }
    }
}